* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "poppins", sans-serif;
  background-color: black;
  scrollbar-color: #D7B46D black;
}

.container {
  padding: 0 70px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.row .col {
  margin: 25px;
}

.row .col .card {
  background-color: white;
  border-bottom-right-radius: 8px;
  -webkit-transition: .5s;
  transition: .5s;
}

.row .col .card .card-img {
  max-width: 300px;
  height: 356px;
}

.row .col .card .card-img img {
  width: 100%;
  height: 100%;
}

.row .col .card .card-body {
  padding: 10px 20px;
}

.row .col .card .card-body h3 {
  font-size: 1.2rem;
}

.row .col .card .card-body p {
  font-size: 0.8rem;
}

.row .col .card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

h2.titles {
  text-align: center;
  color: white;
  font-size: 3rem;
  margin-bottom: 30px;
}

@-webkit-keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.title {
  width: 100%;
  text-align: center;
  background-color: #282828;
  padding: 20px;
}

.title h2 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  width: 100%;
  position: fixed;
  background-color: black;
  z-index: 99;
}

header img {
  width: 40px;
  height: 40px;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .nav-links li {
  margin-left: 25px;
}

header .nav-links li:first-child {
  margin: 0;
}

header .nav-links li a {
  color: white;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  letter-spacing: 3px;
}

header .nav-links li a.active {
  color: #D7B46D;
}

header .nav-links li a:hover {
  color: #D7B46D;
}

header .nav-icons-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .nav-icons-sc li {
  margin-left: 15px;
}

header .nav-icons-sc li:first-child {
  margin: 0;
}

header .nav-icons-sc li a {
  color: white;
}

header .navbar-toggle {
  background-color: transparent;
  border: none;
  outline: none;
  display: none;
  cursor: pointer;
}

header .navbar-toggle i {
  color: white;
}

.main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../imgs/BACKGROUN.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-size: 3rem;
}

.main h1 {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 2s;
  transition: 2s;
  -webkit-animation: flash 2s;
          animation: flash 2s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.main h1.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.main h1 span {
  padding-left: 60px;
}

.main a {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 30px;
  font-size: 1rem;
  border: 2px solid #D7B46D;
  border-radius: 15px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.main a:hover {
  background-color: #D7B46D;
  color: black;
}

.best-selling {
  padding: 50px 0px;
  background-image: url(../imgs/best-selling.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.other-books {
  background-color: black;
  padding: 40px 0px;
  position: relative;
}

.other-books .container a {
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 30px;
  font-size: 1rem;
  border: 2px solid #D7B46D;
  color: white;
  text-decoration: none;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

.other-books .container a:hover {
  background-color: #D7B46D;
  color: black;
}

/* footer */
footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  margin: 0 auto;
  grid-column-gap: 50px;
  padding: 40px 70px;
  background-image: url(../imgs/best-selling.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #dadada;
}

.titles {
  font-size: 1.4rem;
  color: var(--light);
  margin-bottom: 35px;
}

footer .company p {
  line-height: 30px;
  letter-spacing: 4px;
  font-size: 0.8rem;
}

footer .company h3 span {
  color: #D7B46D;
}

footer .contact ul {
  list-style: none;
}

footer .contact ul li {
  margin-bottom: 15px;
}

footer .contact ul li i {
  margin-right: 10px;
}

.grp-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grp-icons i {
  display: block;
}

/* end of footer */
.gallery {
  padding-top: 90px;
  background-color: black;
  color: white;
}

.gallery .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  grid-column-gap: 20px;
}

.gallery .container .row .filter {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -ms-grid-column-align: start;
      justify-self: start;
  border-radius: 3px;
}

.gallery .container .row .filter form h3 {
  margin-bottom: 10px;
}

.gallery .container .row .filter form .price {
  width: 75px;
  margin-bottom: 15px;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.gallery .container .row .filter form .input-recherche {
  position: relative;
}

.gallery .container .row .filter form .input-recherche input[type="text"] {
  display: block;
  width: 100%;
  padding: 5px 10px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.gallery .container .row .filter form .input-recherche input[type="text"]:focus {
  -webkit-box-shadow: 0px 0px 15px blue;
          box-shadow: 0px 0px 15px blue;
}

.gallery .container .row .filter form .input-recherche input[type="text"]::-webkit-input-placeholder {
  text-indent: 5px;
}

.gallery .container .row .filter form .input-recherche input[type="text"]:-ms-input-placeholder {
  text-indent: 5px;
}

.gallery .container .row .filter form .input-recherche input[type="text"]::-ms-input-placeholder {
  text-indent: 5px;
}

.gallery .container .row .filter form .input-recherche input[type="text"]::placeholder {
  text-indent: 5px;
}

.gallery .container .row .filter form .input-recherche i {
  display: block;
  position: absolute;
  top: 5px;
  right: 7px;
  color: black;
}

.gallery .container .row .filter form input[type=checkbox] {
  display: inline;
  margin-right: 6px;
  margin-top: 15px;
}

.gallery .container .row .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery .container .row .items .item .card-gallery {
  max-width: 245px;
  cursor: pointer;
}

.gallery .container .row .items .item .card-gallery .offer {
  color: white;
  background-color: #D7B46D;
  padding: 5px 10px;
}

.gallery .container .row .items .item .card-gallery .card-gallery-img {
  height: 275px;
}

.gallery .container .row .items .item .card-gallery .card-gallery-img img {
  width: 100%;
  height: 100%;
}

.gallery .container .row .items .item .card-gallery .card-gallery-body {
  padding: 10px 0px;
}

.gallery .container .row .items .item .card-gallery .card-gallery-body div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  float: right;
}

.pagination li {
  padding: 15px;
  background-color: #D7B46D;
  color: black;
  font-weight: 500;
  margin-left: 8px;
}

.pagination li:first-child {
  margin-left: 0px;
}

/* page contact  */
.page-contact {
  position: relative;
  width: 100%;
  text-align: center;
  padding-top: 80px;
  background-color: black;
  /* 
error contact
*/
}

.page-contact .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-contact .contact-title {
  font-size: 4rem;
  margin-bottom: 0;
  color: white;
}

.page-contact .subtitle {
  font-size: 3rem;
  color: gray;
  font-weight: 300;
  margin-bottom: 25px;
}

.page-contact .contact-form {
  width: 100%;
  padding: 20px;
}

.page-contact .contact-form form input {
  display: block;
  margin-bottom: 15px;
  width: 75%;
  background-color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 2px;
}

.page-contact .contact-form form input[type="submit"] {
  margin-top: 15px;
  background-color: #D7B46D;
  color: black;
  margin-bottom: 0;
  padding: 10px 0;
  font-size: 1.4rem;
}

.page-contact .contact-form form textarea {
  width: 75%;
  margin: 10px auto;
  background-color: white;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  padding: 10px 20px;
}

.add-book {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add-book form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 45px 0;
}

.add-book form div {
  width: 75%;
  margin: 0 auto;
}

.add-book form label {
  color: white;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.add-book form input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.add-book form img {
  display: block;
  margin-bottom: 15px;
}

.add-book form textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  border: none;
}

.add-book form button {
  padding: 20px 40px;
  margin: 20px auto;
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
}

.books {
  padding: 100px 0px 80px 0;
  color: white;
}

.books .container .btns {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0px;
}

.books .container .btns button {
  padding: 10px 20px;
  background-color: white;
  border: none;
  outline: none;
  color: black;
}

.books .container .btns button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.books .container .btns .filter button {
  border-radius: 40%;
}

.books .container .data table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.books .container .data td,
.books .container .data th {
  text-align: left;
  padding: 15px;
  color: white;
  border-bottom: 1px solid dimgray;
}

.books .container .data .edit {
  position: relative;
}

.books .container .data .edit ul {
  position: absolute;
  top: 9px;
  right: 13px;
  background-color: dimgray;
  border-bottom-right-radius: 5px;
  list-style: none;
  -webkit-transition: .3s;
  transition: .3s;
  display: none;
}

.books .container .data .edit ul li {
  padding: 10px 20px;
}

.books .container .data .edit ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.books .container .data .edit ul li a:hover {
  color: #D7B46D;
}

@media screen and (max-width: 550px) {
  .books {
    padding: 100px 0px 80px 0;
    color: white;
  }
  .books .container {
    padding: 0 !important;
  }
  .container {
    padding: 0 40px;
  }
  footer {
    display: block;
  }
  footer div {
    margin-top: 20px;
  }
  footer div:first-child {
    margin: 0;
  }
  header {
    position: fixed;
  }
  header .nav-links {
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: 1s;
    transition: 1s;
    background-color: dimgray;
  }
  header .nav-links li {
    padding: 25px;
    border-bottom: 1px;
  }
  header .nav-links li:first-child {
    margin-left: 25px;
  }
  header .navbar-toggle {
    display: block;
  }
  header .nav-links-active {
    max-height: 400px;
  }
  header .nav-icons-sc {
    display: none;
  }
  .main {
    font-size: 2rem;
  }
  .main h1 span {
    padding-left: 0px;
  }
  .gallery {
    padding-top: 90px;
  }
  .gallery .container .row {
    display: block;
  }
  .gallery .container .row .filter {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -ms-grid-column-align: start;
        justify-self: start;
    border-radius: 3px;
  }
  .gallery .container .row .filter form h3 {
    margin-bottom: 10px;
  }
  .gallery .container .row .filter form .price {
    width: 100%;
  }
  .gallery .container .row .items {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .page-contact .contact-form form input {
    width: 100%;
  }
  .page-contact .contact-form form textarea {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */